<section id="join-speakers" class="speakers bg-bluish">
  <div class="container">

        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¡Únete a nuestra lista de ponentes!</h2>
                    <hr class="small">
                   </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead"><strong>Buscamos mujeres que quieran compartir su conocimiento sobre tecnología. </strong></p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Dar una charla es una gran oportunidad de intercambiar ideas y experiencias con más personas del sector. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Este año hemos unificado los tiempos y las charlas serán de 20 minutos teniendo además 5 minutos para las preguntas del público.<br/>Además, si no has dado ninguna charla antes no dudes en contactar con nosotras y te ayudaremos con la preparación del tema. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">¡Entra en nuestro Call For Papers para proponer tu charla!</p>
                    <p class="lead">¡Ampliamos la fecha! ¡Tienes hasta el 7 de julio! </p>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLScTw-sNNo0KBFt-73th3S1vEwKeDx-MOA_iOZyseaBYFDvXPA/viewform" target="_blank">Envía tu propuesta</a>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
</section>
