<section id="list-speakers" class="speakers bg-bluish">
  
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Nuestras ponentes</h2>
        <hr class="small">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">¡Proximamente publicaremos las ponentes de las charlas y talleres seleccionados! </p>
            </div>
        </div>
        
      </div>
     
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.container -->
</section>
