<section id="organizers" class="organizers">
  <div class="content-section-b">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>Nosotras</h2>
          <hr class="small">
          {% for organizer in site.organizers %}
           
              <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="organizer-item">
                <a href="#" data-toggle="modal" data-target="#organizer-{{ forloop.index0 }}">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>

                    {% assign image_organizer = organizer.image | strip_newlines %}
                    {% assign image_card_organizer = organizer.image_card | strip_newlines %}
                    {% assign twitter_organizer = organizer.twitter_account | strip_newlines %}
                    {% assign linkedin_organizer = organizer.linkedin_account | strip_newlines %}
                    {% assign mail_organizer = organizer.mail_account | strip_newlines %}
                    {% assign bio_organizer = organizer.bio | strip_newlines %}

                    {% if image_organizer != ""  %}
                    <img src="{{ image_organizer }}_a.jpg" class="fa fa-stack-1x text-primary img-circle" onmouseover="this.classList.add('escala-grises');" onmouseout="this.classList.remove('escala-grises');"/>
                    {% elsif twitter_organizer != "" %}
                    <img src="https://avatars.io/twitter/{{ organizer.twitter_account }}" class="fa fa-stack-1x text-primary img-circle" onmouseover="this.classList.add('escala-grises');" onmouseout="this.classList.remove('escala-grises');"/>
                    {% else %}
                    <i class="fa fa-user fa-stack-1x text-primary"></i>
                    {% endif %}
                  </span>
                  <h4>
                    <strong>{{ organizer.name }}</strong>
                  </h4>
                  <!--<a href="#" class="btn btn-light">Learn More</a>-->
                  {% if twitter_organizer != ""  %}
                  <a href="https://twitter.com/{{ organizer.twitter_account }}" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  {% endif %}
                  {% if linkedin_organizer != ""  %}
                  <a href="https://www.linkedin.com/in/{{ organizer.linkedin_account }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                  {% endif %}
                  {% if mail_organizer != ""  %}
                  <a href="mailto:{{ organizer.mail_account }}" target="_blank"><i class="fa fa-envelope fa-fw fa-2x"></i></a>
                  {% endif %}
                </a>

                <!-- Modal -->
                <div class="modal fade" id="organizer-{{ forloop.index0 }}" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      {% if image_card_organizer != ""  %}
                      <div class="modal-body modal-image-card" style="background-color: #0087F9 !important;background-image: url({{ image_card_organizer }}.jpg);">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      {% else  %}
                      <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <div class="wtm-modal-content-left">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>

                              {% if image_organizer != ""  %}
                              <img src="{{ image_organizer }}_a.jpg" class="fa fa-stack-1x text-primary img-circle"/>
                              {% elsif twitter_organizer != "" %}
                              <img src="https://avatars.io/twitter/{{ organizer.twitter_account }}" class="fa fa-stack-1x text-primary img-circle"/>
                              {% else %}
                              <i class="fa fa-user fa-stack-1x text-primary"></i>
                              {% endif %}
                            </span>
                            <h4>{{ organizer.name }}</h4>
                              
                               {% if twitter_organizer != ""  %}
                                <a href="https://twitter.com/{{ organizer.twitter_account }}" target="_blank">
                                    <i class="fa fa-twitter fa-fw fa-2x"></i></a>
                                {% endif %}
                                {% if linkedin_organizer != ""  %}
                                <a href="https://www.linkedin.com/in/{{ organizer.linkedin_account }}" target="_blank">
                                    <i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                                {% endif %}
                          </div>
                          <div class="wtm-modal-content-right text-left">
                              {% if bio_organizer != ""  %}
                                <p>{{ organizer.bio }}</p>
                              {% else %}
                                <p>Más información próximamente</p>
                              {% endif %}
                              <div class="visible-xs-block text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                              </div>
                            
                          </div>
                      </div>
                      {% endif %}
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
          {% endfor %}
          
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  <!-- /.container -->
  </div>
</section>
