<section id="tickets" class="tickets bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <p id="hora_real_servidor" hidden></p>

        <p id="entradas_agotadas" hidden>{{ site.sold_out_tickets }}</p>

        <div id="texto_entradas_proximamente" style="display: block;">

          <p class="lead">Primera tanda de entradas <span class="wtm-highlight">jueves 29 de agosto a las 11:00</span><br/></p>
          <p class="lead" style="margin-bottom: 0px !important;"><span class="wtm-highlight">¡No te quedes sin la tuya!</span></p>

          <!--
            <p class="lead">Próxima tanda de entradas <span class="wtm-highlight">3 de octubre a las 20:00</span><br/></p>
            <p class="lead"><span class="wtm-highlight">¡No te quedes sin la tuya!</span></p>
          -->
        </div>

        <div id="texto_dia_de_venta_de_entradas" style="display: none;">

          <p class="lead" style="margin-bottom: 0px !important;">A partir de las 11:00 abriremos la venta de la primera tanda de entradas. <br/><br/><span class="wtm-highlight">¡Consulta la web para más novedades!</span><br/></p>

          <!--
          <p class="lead">A partir de las 20:00 abriremos la venta de la segunda y última tanda de entradas. <br/><br/><span class="wtm-highlight">¡Consulta la web para más novedades!</span><br/></p>
          -->
        </div>
      
        <div id="texto_entradas_a_la_venta" style="display: none;">

          <p class="lead">Ya a la venta las primeras entradas. <span class="wtm-highlight">¡No te quedes sin la tuya!</span><br/></p>
           <a href="https://wtmzaragoza19.eventbrite.es" target="_blank">
            <img src="https://www.eventbrite.es/custombutton?eid=48807452404" alt="Eventbrite - Women Techmakers Zaragoza 2018" />
          </a>

          <!--
          <p class="lead">Ya a la venta una nueva tanda de entradas. <span class="wtm-highlight">¡No te quedes sin la tuya!</span><br/></p>
          <a href="https://www.eventbrite.es/e/entradas-women-techmakers-zaragoza-2018-48807452404?ref=ebtnebtckt" target="_blank">
            <img src="https://www.eventbrite.es/custombutton?eid=48807452404" alt="Eventbrite - Women Techmakers Zaragoza 2018" />
          </a>
          -->
        </div>
         
         
        <div id="texto_entradas_agotadas" style="display: none;">

          <p class="lead">Primera tanda de entradas <span class="wtm-highlight">¡AGOTADAS!</span><br/></p>
          <p class="lead">¡Manteneos atentos a las redes y a la web para próximas oportunidades de conseguir entradas!</span><br/></p>
          <p class="lead" style="margin-bottom: 0px !important;"><span class="wtm-highlight">¡No te quedes sin la tuya!</span></p>

          <!--
          <p class="lead">Entradas <span class="wtm-highlight">¡AGOTADAS!</span><br/></p>
          <p class="lead">¡Manteneos atentos a las redes y a la web!</span><br/></p>
          -->
        </div>

      <!--  
      <p class="lead">¡Manteneos atentos a las redes y a la web para próximas oportunidades de conseguir entradas!</span><br/></p>
      <p class="lead"><span class="wtm-highlight">¡Apúntate a nuestra lista de espera!</span></p>


      </div>

      <div class="col-lg-12 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScU1E26Wt4TK9qKFszJvu6goEMdjs_A0f-LTbWsEKb-ptIhQw/viewform"><strong>Lista de espera</strong></a>
                </div>
       -->         
    </div>
    <!-- /.row -->
  </div>
  <script>

    // Set the date we're counting down to
    var countDown = new Date("Aug 29, 2019 11:00:00");
    var countDown_day = new Date("Aug 29, 2019 00:15:00");

    var agotadas = document.getElementById("entradas_agotadas").innerHTML  == 'true';
     
    function cambiar_texto_a_mostrar () {
      // Get todays date and time
      var now = new Date();

      var hay_que_publicar = (now >= countDown);
      var es_dia_de_publicacion = (now >= countDown_day);
      
      document.getElementById("hora_real_servidor").innerHTML = now;

      // Find the distance between now an the count down date
      if (agotadas && document.getElementById("texto_entradas_agotadas").style.display != 'block') {
        // Publicamos el texto de entradas agotadas
        document.getElementById("texto_entradas_proximamente").style.display = 'none';
        document.getElementById("texto_dia_de_venta_de_entradas").style.display = 'none';
        document.getElementById("texto_entradas_a_la_venta").style.display = 'none';
        document.getElementById("texto_entradas_agotadas").style.display = 'block';
      }
      else if (!agotadas && hay_que_publicar && document.getElementById("texto_entradas_a_la_venta").style.display != 'block') {
        // Publicamos el texto de entradas a la venta
        document.getElementById("texto_entradas_proximamente").style.display = 'none';
        document.getElementById("texto_dia_de_venta_de_entradas").style.display = 'none';
        document.getElementById("texto_entradas_a_la_venta").style.display = 'block';
        document.getElementById("texto_entradas_agotadas").style.display = 'none';
      }
      else if (!agotadas && !hay_que_publicar && es_dia_de_publicacion && document.getElementById("texto_dia_de_venta_de_entradas").style.display != 'block'){
        // Publicamos texto de que hoy a X hora salen a la venta las entradas
        document.getElementById("texto_entradas_proximamente").style.display = 'none';
        document.getElementById("texto_dia_de_venta_de_entradas").style.display = 'block';
        document.getElementById("texto_entradas_a_la_venta").style.display = 'none';
        document.getElementById("texto_entradas_agotadas").style.display = 'none';
      }
      else if (!agotadas && !hay_que_publicar && !es_dia_de_publicacion && document.getElementById("texto_entradas_proximamente").style.display != 'block') {
        // Mantenemos publicado el texto entradas proximamente
        document.getElementById("texto_entradas_proximamente").style.display = 'block';
        document.getElementById("texto_dia_de_venta_de_entradas").style.display = 'none';
        document.getElementById("texto_entradas_a_la_venta").style.display = 'none';
        document.getElementById("texto_entradas_agotadas").style.display = 'none';
      }
    }
    cambiar_texto_a_mostrar();
    // Update the count down every 1 second
    var x = setInterval(function() {

        cambiar_texto_a_mostrar();

    }, 1000);
  </script>
  <!-- /.container -->
</section>
