<section id="tickets" class="tickets bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <!--
        <h2>Ponencias sobre tecnología<br/><br/>
Talleres para niñas/os sobre tecnología<br/><br/>
Networking<br/><br/>
120 asistentes</h2>
-->
<!--
      <p class="lead">A partir de las 12:00 abriremos la venta de la primera tanda de entradas. <br/><br/><span class="wtm-highlight">¡Consulta la web para más novedades!</span><br/></p>
        
        -->
        <!--
        <p class="lead">Ya a la venta las primeras entradas. <span class="wtm-highlight">¡No te quedes sin la tuya!</span><br/></p>
         <a href="https://www.eventbrite.es/e/entradas-women-techmakers-zaragoza-2018-48807452404?ref=ebtnebtckt" target="_blank">
          <img src="https://www.eventbrite.es/custombutton?eid=48807452404" alt="Eventbrite - Women Techmakers Zaragoza 2018" />
        </a>
         -->
         
         <!--
         <p class="lead">Primera tanda de entradas <span class="wtm-highlight">¡AGOTADAS!</span><br/></p>
        <p class="lead">¡Manteneos atentos a las redes y a la web para próximas oportunidades de conseguir entradas!</span><br/></p>
        <p class="lead"><span class="wtm-highlight">¡No te quedes sin la tuya!</span></p>
-->
<!--
        <p class="lead">Próxima tanda de entradas <span class="wtm-highlight">3 de octubre a las 20:00</span><br/></p>
        <p class="lead"><span class="wtm-highlight">¡No te quedes sin la tuya!</span></p>
      -->
      <!--
      <p class="lead">A partir de las 20:00 abriremos la venta de la segunda y última tanda de entradas. <br/><br/><span class="wtm-highlight">¡Consulta la web para más novedades!</span><br/></p>
      -->
      <!--
        <p class="lead">Ya a la venta una nueva tanda de entradas. <span class="wtm-highlight">¡No te quedes sin la tuya!</span><br/></p>
        <a href="https://www.eventbrite.es/e/entradas-women-techmakers-zaragoza-2018-48807452404?ref=ebtnebtckt" target="_blank">
          <img src="https://www.eventbrite.es/custombutton?eid=48807452404" alt="Eventbrite - Women Techmakers Zaragoza 2018" />
        </a>
       
      -->
      <p class="lead">Entradas <span class="wtm-highlight">¡AGOTADAS!</span><br/></p>
      <p class="lead">¡Manteneos atentos a las redes y a la web!</span><br/></p>
        
      <!--  
      <p class="lead">¡Manteneos atentos a las redes y a la web para próximas oportunidades de conseguir entradas!</span><br/></p>
      <p class="lead"><span class="wtm-highlight">¡Apúntate a nuestra lista de espera!</span></p>


      </div>

      <div class="col-lg-12 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScU1E26Wt4TK9qKFszJvu6goEMdjs_A0f-LTbWsEKb-ptIhQw/viewform"><strong>Lista de espera</strong></a>
                </div>
       -->         
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
