<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  <!-- Menu de navegacion -->
  {% include navigation.html %}
  <!-- Cabecera -->
  {% include header.html %}
  <!-- Detalles -->
  {% include details.html %}  
  <!-- Album de fotos y video resumen -->
  {% include flickr_album_and_videos.html %}  
  <!-- Entradas -->
  {% comment %}
  {% include tickets.html %} 
  {% endcomment %} 
  <!-- Introduccion -->
  {% include intro.html %} 
  <!-- Lista de distribucion -->
  {% include list_distribution.html %}  
  <!-- Cuenta atras -->
  {% comment %}
  {% include countdown.html %}
  {% endcomment %}
  <!-- Codigo de conducta -->
  {% include code_of_conduct.html %}
  <!-- Informacion sobre WTMs -->
  {% include event_info.html %}
  <!-- Agenda -->
  {% comment %}
  {% include agenda.html %}
  {% endcomment %}
  <!-- Unete a nuestras ponentes -->
  {% include join_speakers.html %}
  <!-- Lista de ponentes -->
  {% comment %}
  {% include list_speakers.html %}
  {% endcomment %}
  <!-- Mulleres Tech -->
  {% include mulleres_tech.html %}
  <!-- Objetivos -->
  {% include goals.html %}
  <!-- Lista de organizadoras -->
  {% include organizers.html %}
  <!-- Unete a nuestros patrocinadores -->
  {% include join_sponsors.html %}
  <!-- Lista de patrocinadores -->
  {% comment %}
  {% include list_sponsors.html %}
  {% endcomment %}
  <!-- Camisetas -->
  {% include t-shirts.html %} 
  <!-- Pie -->
  {% include footer.html %}
  <!-- Scripts -->
  {% include scripts.html %}
  
</body>

</html>
